<ul class="products">
	<li>
		<a href="erp-next.html">
			<img src="/assets/products/erpnext.svg" alt="ERP Next Logo" width="256" height="256">
		</a>
		<p>
			A fully capable ERP system that scales along with you
		</p>
		<a class="button" href="erp-next.html">
			More info
		</a>
	</li>
	<li>
		<a href="visual-factory.html">
			<img src="/assets/products/vf.svg" alt="Visual Factory Logo" width="256" height="256">
		</a>
		<p>
			A tailor made MES for production shop floors
		</p>
		<a class="button" href="visual-factory.html">
			More info
		</a>
	</li>
</ul>
