.banner {
    display: flex;
    justify-content: center;
    height: $ratio*$ratio*$ratio*$ratio*10vh;
    padding: 0 $ratio*1rem;
    font-weight: bold;
    font-size: $ratio*$ratio*$ratio*1vw;
    line-height: $tight;
    background: url('../assets/photo1-blue.jpg') center/cover no-repeat;
    color: #fff;

    transition: all .6s ease-out;
    text-align: center;
    flex-direction: column;
    &:not(.top-in-view) {
        transform: scale(1.05);
        opacity: .8;
    }

    &.blue1   { background-image: url('../assets/photo1-blue.jpg'); }
    &.blue2   { background-image: url('../assets/photo2-blue.jpg'); }
    &.blue3   { background-image: url('../assets/photo3-blue.jpg'); }
    &.blue4   { background-image: url('../assets/photo4-blue.jpg'); }
    &.blue5   { background-image: url('../assets/photo5-blue.jpg'); }
    &.orange1 { background-image: url('../assets/photo1-orange.jpg'); }
    &.orange2 { background-image: url('../assets/photo2-orange.jpg'); }
    &.orange3 { background-image: url('../assets/photo3-orange.jpg'); }
    &.orange4 { background-image: url('../assets/photo4-orange.jpg'); }
    &.orange5 { background-image: url('../assets/photo5-orange.jpg'); }

    main > & {
        margin: $ratio*$ratio*1rem 0;
    }

    @media screen and (max-width: $breakpoint) {
        font-size: $ratio*$ratio*1rem;
    }
}
