.progress-strip {

    &:not(.bottom-in-view) {
        section img {
            opacity: .5;
        }
    }

    ul {
        position: relative;
        z-index: 0;
        font-weight: bold;
        background: lighten($orange, 30%);
        color: #fff;
        text-align: center;
        overflow: hidden;

        a,
        a:link,
        a:hover,
        a:active,
        a:visited {
            display: inline-block;
            height: round($ratio*$ratio*$ratio*$ratio)*1rem;
            z-index: 1;
            line-height: round($ratio*$ratio*$ratio*$ratio)*1rem;
            text-decoration: none;
            color: #fff;
        }
        + section img {
            max-width: 50%;
            float: left;
            margin-right: $ratio*1rem;
            transition: all .2s ease-out;
        }
    }
    li {
        display: inline-block;
        position: relative;
        margin: 0;
        transition: background-color .6s ease-in-out;
        + li {
            padding-left: $ratio*$ratio*2rem;
        }
        &::before {
            content: '';
            width: 100vw;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -2;
            transition: background-color .6s ease-in-out;
            pointer-events: none;
        }
        &::after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: -1* round($ratio*$ratio*$ratio*$ratio)*1rem;
            z-index: -2;
            border: round($ratio*$ratio*$ratio*$ratio)/2*1rem solid transparent;
            transition: border-color .6s ease-in-out;
            pointer-events: none;
        }
        &:not(.active):hover {
            background-color: lighten($orange, 12%);
            transition: background-color .2s ease-in-out;
            &::before {
                background-color: lighten($orange, 12%);
                transition: background-color .2s ease-in-out;
            }
            &::after {
                transition: border-color .2s ease-in-out;
                border-left-color: lighten($orange, 12%);
            }
        }
    }
    .active {
        background-color: $orange;
        &::before {
            z-index: -1;
            background-color: $orange;
        }
        &::after {
            border-left-color: $orange;
            z-index: -1;
        }
    }
    &.blue {
        ul {
            background-color: lighten($blue, 30%);
            + section img {
                float: right;
                margin-right: none;
                margin-left: $ratio*1rem;
            }
        }
        li {
            &:not(.active):hover {
                background-color: lighten($blue, 12%);
                &::before {
                    background-color: lighten($blue, 12%);
                }
                &::after {
                    border-left-color: lighten($blue, 12%);
                }
            }
        }
        .active {
            background-color: $blue;
            &::before {
                background-color: $blue;
            }
            &::after {
                border-left-color: $blue;
            }
        }
    }


    @media screen and (max-width: $breakpoint) {
        li:not(.active) {
            display: none;
        }
        li.active {
            margin-right: round($ratio*$ratio*$ratio*$ratio)/2*1rem;
            padding-left: 0;
        }
    }
}
