.showcases {
    p:first-child {
        max-width: 600px;
        margin-right: auto;
        margin-bottom: 2em*$ratio*$ratio;
        margin-left: auto;
        text-align: center;
    }
    h1 {
        text-align: center;
        margin-top: 1em*$ratio*$ratio;
    }

    main > :not(div) {
        width: 1200px;
    }

    h2 {
        margin: 0 auto;
        padding-left: 120px;
        @media screen and (min-width: $breakpoint) {
            width: 600px;
            margin: 0 auto 0 300px;
        }
    }

    h2 + p {
        position: relative;
        padding-left: 120px;
        a:first-child {
            position: absolute;
            top: 0;
            left: 0;
        }
        @media screen and (max-width: $breakpoint - 1) {
            margin: 0 auto 1em*$ratio*$ratio auto;
        }
        @media screen and (min-width: $breakpoint) {
            width: 600px;
            margin: 0 auto 1em*$ratio*$ratio*$ratio 300px;
        }
    }

    p + div {
        margin-top: 1em*$ratio*$ratio*$ratio*$ratio*$ratio;
    }
}
