ul.team {
    list-style: none;
    margin-right: -4rem;
    margin-bottom: 1rem*$ratio*$ratio;
    margin-left: -4rem;

    @media (min-width: $breakpoint + 1) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem*$ratio*$ratio;
        grid-row-gap: 1rem*$ratio*$ratio;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 1rem*$ratio*$ratio;
        text-align: center;

        > img {
            width: 160px;
            height: 160px;
            border: 1px solid $orange;
            border-radius: 100%;
        }
    }
    h3 {
        margin: 1rem/$ratio/$ratio 0 0 0;
        font-size: 1rem*$ratio;
        line-height: 1;
    }
    p {
        margin: 0;
        line-height: $ratio*$ratio;
        color: $grey1;
        > a + a {
            margin-left: 1rem;
        }
    }
}
