@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


$black: #040404;
$blue: #05BDFF;
$orange: #D86531;

$grey1: lighten($black, 16%);
$grey2: lighten($black, 28%);
$grey3: lighten($black, 36%);
$grey4: lighten($black, 48%);
$grey5: lighten($black, 64%);
$grey6: lighten($black, 80%);
$grey7: lighten($black, 92%);

$green: #22c546;
$red: #ff3e29;
$purple: #a42fbc;
$teal: #1db2a2;

$brand-color: #374996;


$ratio: 1.618; // golden ratio
$tight: 1.16;
$fat: 1rem/$ratio 1rem 1rem/$ratio 1rem;

$base-width: 45rem;              // = 720 / 16px
$breakpoint: $base-width + 5rem; // + 80px
$hero-size: $base-width + 2 * 5rem;

* {
	box-sizing: border-box;
}

@mixin breathe($property) {
	transition: $property .5s ease-in-out;

	&:hover,
	&:active {
		transition: $property .1s ease-in-out;
	}
}
@mixin breatheFast($property) {
	transition: $property .25s ease-in-out;

	&:hover,
	&:active {
		transition: $property .05s ease-in-out;
	}
}

@mixin clearFix() {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}
}
